.container{
    margin-top: 100px;
    color: black;
    background-color: #242526;
    height: 300px;
    width: 500px;
    justify-content: center;
    padding-top: 80px;
    border-radius: 10px;
}

h2{
    color: white;
}

.btn {
    margin-top: 50px;
}