.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .login-image {
    width: 400px;  /* Adjust as needed */
    height: auto;
    margin-right: 100px; /* Spacing between image and card */
  }
  
  .card {
    border-radius: 10px;
    width: 500px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .btn:hover {
    cursor: pointer;
  }

  .input-container {
    position: relative;
    width: 100%;
}

