<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <img src="../../../assets/hearpirates.png" class="login-image">
    </div>
    <div class="col-md-4">
      <div class="card p-4 shadow-lg">
        <h2 class="text-center mb-4">Login to Piecebook</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <small *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched" class="text-danger">
              Valid name is required
            </small>
          </div>
          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Password</label>
            <div class="input-container">
              <input type="password" id="password" class="form-control" formControlName="password">
              <button type="button" (click)="seePassword()" class="seePass" aria-label="Toggle password visibility">
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
            <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
              Password must be at least 6 characters
            </small>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
